.cardSectionStyles {
  composes: container from global;

  width: 100%;
  max-width: initial;
  background-color: #f57c00;

  section {
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 48px;
    margin-right: 48px;

    i {
      color: #f57c00;
    }

    article {
      margin-left: -14px;
      font-family: "Monoton", cursive;
      letter-spacing: 3px;
      display: flex;
      align-items: center;
      i {
        font-size: 28px;
        padding-right: 0;
        margin: -7px;
      }
      i::before {
        content: "=";
        position: relative;
        left: 21px;
        top: -25px;
      }
      i::after {
        content: "=";
        position: relative;
        left: -21px;
        top: 15px;
      }

      h4 {
        line-height: 0.9;
      }
    }
    p {
      font-family: "Open Sans", sans-serif;
      line-height: 1.2;
      font-size: 18px;
    }
  }
}
