.card-row {
  transform: scale(0.8);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}

.card-row:hover {
  transform: scale(0.9);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
}
