.myAppsStyles {
  composes: container grey darken-4 from global;

  width: 100%;
  max-width: initial;
  background-color: #f57c00;

  section {
    margin-left: 64px;

    h1 {
      font-family: "Monoton", cursive;
    }

    ul li {
      margin: 25px;
    }
  }

  article {
    height: 70vh;
    display: flex;
    justify-content: center;
  }
}
