.techbarStyles {
  composes: container from global;
  h3 {
    font-family: "Monoton", cursive;
  }

  section {
    margin-top: 1rem;
    svg {
      color: white;
      width: 7%;
      height: auto;
      margin-top: 7px;
      margin-right: 7px;
      margin-left: 1px;
      transform: scale(1, 1);
      transition-duration: 300ms;
      transition-timing-function: ease-out;
    }

    svg:hover {
      transform: scale(1.3, 1.3);
      transition-duration: 300ms;
      transition-timing-function: ease-out;
    }
  }
}
