.footerStyles {
  h4 {
    font-family: "Monoton", cursive;
    color: black;
  }

  a,
  p {
    font-family: "Open Sans", sans-serif;
  }

  svg {
    margin-left: 7px;
    margin-right: 14px;
    margin-top: 7px;
    width: 7%;
    height: auto;
  }
}
