.landing-title {
  position: relative;
  animation: move-title 1.5s;
}

.landing-subtitle {
  position: relative;
  animation: move-subtitle 1.5s;
}

@keyframes move-title {
  0% {
    left: -50px;
    opacity: 0;
  }

  50% {
    left: 10px;
    opacity: 0.8;
  }

  100% {
    left: 0;
    opacity: 1;
  }
}

@keyframes move-subtitle {
  0% {
    right: -50px;
    opacity: 0;
  }

  50% {
    right: 10px;
    opacity: 0.8;
  }

  100% {
    right: 0;
    opacity: 1;
  }
}
