.landingStyles {
  composes: darken-text from global;
  padding-bottom: 70px;
  height: 90vh;

  h1 {
    text-align: center;
    font-size: 140px;
    margin: 0;
    padding-top: 25vh;
    font-family: "Monoton", cursive;
    text-transform: capitalize;
    letter-spacing: 0.7rem;
    color: #f57c00;
  }

  h3 {
    text-align: center;
    margin: 0;
    padding: 0;
    font-family: "Monoton", cursive;
    text-transform: capitalize;
    letter-spacing: 0.15rem;
    color: white;
  }

  h6 {
    text-align: center;
    margin-top: 0.7rem;
    color: white;
    font-family: "Open Sans", sans-serif;
  }
}
